.block.notice
  %h3 Tracking Deliveries
  .content
    %p Use the filters below to filter through the Delivery list.  You can filter by Status, Discipline or Delivery Progress.
    %p Below, there are also a series of links to graphs and stats to summarise the progress of discipline specific / status specific deliveries.
.block
  %h3 Filters
  %br
  = render :partial => "search_form"
  %br
  %br
  %h3 Summaries
  %ul.navigation
    %li=link_to "All Deliveries", deliveries_path
    %h3 Disciplines Summaries
    - Deliverable.discipline_counts.each do |tag|
      - unless Deliverable.tagged_with(tag).count < 1
        %li= link_to tag.name, :controller => "deliverables", :action => "list_for_tag", :id => tag.id
    %h3 Status Summaries
    - Status.all(:order => "position").each do |status|
      %li
        = link_to status.name, :controller => "statuses", :action => "list_for_status", :id => status.id




