.block.notice
  %h3 Deliverables List
  .content
    %p This is the list of deliverables (documents) for the project.
    %p For each deliverable, you can create or view a list of deliveries and their planned dates.
/ .block
/   %h3 Links
/   %ul.navigation
/     %li
/       %a{:href => "#"} Link 1
/     %li
/       %a{:href => "#"} Link 2
