<!-- <h1 id="title">Deliverables Schedule</h1> -->
<!-- <div id="content"><br>
  <h2 id ="title2">Use the Deliverables schedule to</h2> <br>
  <!-- <div id="bullet-points">
    - Track the progress of deliverables <br>
  - Manage the production of deliverables with reminders and notifications
  </div> -->
  
  <div id="footer">
    
  </div>
</div>

	
	<%# if current_user %>
	  <%#= link_to "Edit Profile", edit_user_path (:current)%>
	  <%#= link_to "Logout", logout_path %>
	  <%#= link_to "Deliverables Schedule", deliverables_path %>
	  <%#= link_to "Deliveries Cumulative Graph", deliveries_path %>
	<%# else %>
	  <%#= link_to "Register", new_user_path %>  
    <%#= link_to "login", login_path %>
  
	<!-- <div id="login-form">	
		<%#= render :patial => "user_sessions/_new" %>
	</div> -->
	<%# end %>
	