.block.notice
  %h3 Statuses List
  .content
    %p This a list of Statuses defined for the project deliveries.
/ .block
/   %h3 Links
/   %ul.navigation
/     %li
/       %a{:href => "#"} Link 1
/     %li
/       %a{:href => "#"} Link 2
