body { 
background-color: #DCDCE6; 
color: #333;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



/*--------Layout----------*/

#header {
	background-color: #35579C;
	color: white;
	width: 100%;
	clear: both;
}

#container {
	background-color: #DCDCE6;
	
}

#graph {
	clear: both;
}

/* @group My Group */



/* @end */



#left-column {
	float: left;
	background-color: #F7F5F5;
	/*min-width: 100px;*/
	width: 10%;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	padding-left: 1px;
}

/* My Comment */
#right-column {
	float: right;
	background-color: #F7F5F5;
	/*min-width: 850px;*/
	width: 84%;
    margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#right-column-1 {
	float: left;
	margin-left: 1%;
}

#right-column-2 {
	
	float: left;
	margin-left:1%;
	margin-right: 5%;
	margin-top: 75px;
	border-style: solid;
	border-color: silver;
}

#footer {
	background-color: #ff7900;
	clear: both;
}

#session-links {
	color: white;
	font-weight: bold;
	float: right;
	
}


#session-links a:visited {
	color: white;
}

#tab-links {
	color: white;
	font-weight: bold;
	
}

#tab-links a:visited {
	color: white;
}


/*-----------------Table----------------------*/
/*.table-data {
	margin-left: 10px;
	margin-right: 10px;
}*/


/*--------------Left Menu------------------*/
/*#left-menu-list-tags {
	font-size: 1em;
}*/


/*-------------------Login Form-------------------*/
#login-form {
	left: 20px;
	position: relative;
}



/*----------------- Tag Cloud ------------------*/
.css1 {font-size: 1.0 em;}
.css2 {font-size: 1.2 em;}
.css3 {font-size: 1.4 em;}
.css4 {font-size: 1.6 em;}

