body { 
background-color: #DCDCE6; 
color: #333;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
	background-color: #35579C;
	color: white;
	width: 100%;
	clear: both;
}

#header a { color: #fff; }
#header a:visited { color: #fff; }
#header a:hover { color: #fff; }


#title {
	
	font-size: 200%;
	position: relative;
	left: 12%;
	right: 12%;
}

#title2 {
	font-size: 150%;
	margin-left: 10px;
	margin-top: 20px;
}

#content {
	background-color: #fefdfa;
    width: 80%;
    min-width: 900px;
	left: 12%;
	right: 12%;
	position: relative;
	height: 200px;
}

#bullet-points {
	margin-left: 10px;
}

/*-------------------Login Form-------------------*/

#login-form {
	left: 20px;
	position: relative;
}

#login-header {
	left: 20px;
	position: relative;
}
