<div id="placeholder_2" style = "width:800px; height:500px"> </div>
<script type="text/javascript" charset="utf-8">

<% deliveries = @all_deliveries  %>
<% dates = deliveries.collect do |d| %>
  <% if d.actual_date.to_i > d.planned_date.to_i %>
    <% d.actual_date.to_i %>
  <% else %>
    <% d.planned_date.to_i %>
  <% end %>
  <% end %>
<% max_date = (dates.max * 1000) %>

<% dates = deliveries.collect do |d| %>
  <% if d.actual_date.to_i < d.planned_date.to_i %>
    <% d.actual_date.to_i %>
  <% else %>
    <% d.planned_date.to_i %>
  <% end %>
  <% end %>
<% dates = dates.reject {|d| d == 0}%>
<% min_date = dates.min * 1000 %>
  
<% planned_date_deliveries = Delivery.planned_date_deliveries(deliveries) %>
var array3 = <%=h array_or_string_for_javascript(planned_date_deliveries) %>;
var array4 = <%=h array_or_string_for_javascript(Delivery.actual_date_deliveries(deliveries)) %>;

var cumulativeArray3 =  toMultiDimensionalArray(array3, 2);
var cumulativeArray4 =  toMultiDimensionalArray(array4, 2);
var options_2 = {
	series: {
		lines: { show: true },
		points: { show: true }
	},
	
	grid : {
	  hoverable: true
	},

	xaxis: {
		mode: "time",
		timeformat: "%b%y",
		min:1291161600000,
		max:<%= max_date + (1.month.to_i * 1000) %>,
		ticks: 12,
		autoscaleMargin: 0.5
  },

	yaxis: {
		min: 0,
		max: <%=(planned_date_deliveries.collect {|d| d[1]}.max) + 100  %>,
		ticks: 10
	}
};

$(function (){
  $.plot($("#placeholder_2"), [{ label: "Planned Deliveries Production", data: cumulativeArray3  },
                               { label: "Actual Deliveries Production", data: cumulativeArray4}], options_2);	
});


</script>

