<h1>Deliveries for <%= @text %></h1>

<% if @deliveries.empty?%>
  <p>There are no deliveries for this deliverable</p>
<% else %>
  <ul> <% @deliveries.each do |delivery|%>
	<li><%=h delivery.status.name %><%#= link_to "show", deliverable_delivery_path%></li>
	<% end %>	
  </ul>
<% end %>


<%= if params[:deliverable_id]
	  link_to 'back', deliverable_path(@deliverable)
	end %>
<%= if params[:deliverable_id]
	  link_to 'New delivery', new_deliverable_delivery_path(:deliverable_id => @deliverable)
	end %>